-colorArray = ["primary","success","info","warning","danger","grey","grey-2x","grey-3x","grey-4x","grey-5x","grey-6x","stable","positive","calm","balanced","energized","assertive","royal","dark"]
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=0")

    link(href="./ack-css-boot.css" rel="stylesheet" type="text/css")

  body.font-helvetica.text-center
    .inline-block.max-width-900.text-left
      h1 ack-css-boot
      .border.opacity-10
      p A base set of short-hand css helper classes. Includes available classes that are commonly used for styling buttons, form inputs, and such.
      br
      br
      h3 Table of Contents
      .flex-wrap
        .pad-sm
          a(href="#ack-flex-boot") ack-flex-boot
        .pad-sm
          a(href="#ack-text-boot") ack-text-boot
        .pad-sm
          a(href="#ack-block-boot") ack-block-boot
        .pad-sm
          a(href="#ack-color-boot") ack-color-boot
        .pad-sm
          a(href="#ack-responsive-boot") ack-responsive-boot
        .pad-sm
          a(href="#ack-form-boot") ack-form-boot
        .pad-sm
          a(href="#Additional Classes") Additional Classes
      br
      h2(id="ack-flex-boot") ack-flex-boot
      p.text-muted CSS flex box layout made extremely simple
      p.text-sm.text-info A .flex class exists to set display:flex; but it is hardly needed. All .flex- classes extend .flex
      .pad
        .flex-wrap.flex-center
          .flex-1.max-width-400.min-width-300.border-1-info.margin-xs.pad-xs
            h4.margin-top-0 .flex-center
            .flex-center
              .pad.bg-info.margin-xs Acker
              .pad.bg-info.margin-xs Dawn
              .pad.bg-info.margin-xs Apple
          .flex-1.max-width-400.min-width-300.border-1-info.margin-xs.pad-xs
            h4.margin-top-0 .flex-left
            .flex-left
              .pad.bg-info.margin-xs Acker
              .pad.bg-info.margin-xs Dawn
              .pad.bg-info.margin-xs Apple
          .flex-1.max-width-400.min-width-300.border-1-info.margin-xs.pad-xs
            h4.margin-top-0 .flex-right
            .flex-right
              .pad.bg-info.margin-xs Acker
              .pad.bg-info.margin-xs Dawn
              .pad.bg-info.margin-xs Apple
          .flex-1.max-width-400.min-width-300.border-1-info.margin-xs.pad-xs
            h4.margin-top-0 .flex-evenly
            .flex-evenly
              .pad.bg-info.margin-xs Acker
              .pad.bg-info.margin-xs Dawn
              .pad.bg-info.margin-xs Apple
          .flex-1.max-width-400.min-width-300.border-1-info.margin-xs.pad-xs
            h4.margin-top-0 .flex-apart
            .flex-apart
              .pad.bg-info.margin-xs Acker
              .pad.bg-info.margin-xs Dawn
              .pad.bg-info.margin-xs Apple

        .flex-evenly.flex-wrap
          .pad-xs.margin-xs.border-1-info
            h4.margin-top-0 .flex-valign
            .flex-valign
              .pad.bg-info.margin-xs #[.pad-xs Acker]#[.pad-xs Dawn]#[.pad-xs Apple]
              .pad.bg-info.margin-xs #[.pad-xs Dawn]#[.pad-xs Apple]
              .pad.bg-info.margin-xs #[.pad-xs Apple]
          .pad-xs.margin-xs.border-1-info
            h4.margin-top-0 .flex-valign-center
            .flex-valign-center
              .pad.bg-info.margin-xs #[.pad-xs Acker]#[.pad-xs Dawn]#[.pad-xs Apple]
              .pad.bg-info.margin-xs #[.pad-xs Dawn]#[.pad-xs Apple]
              .pad.bg-info.margin-xs #[.pad-xs Apple]
          .pad-xs.margin-xs.border-1-info
            h4.margin-top-0 .flex-valign-bottom
            .flex-valign-bottom
              .pad.bg-info.margin-xs #[.pad-xs Acker]#[.pad-xs Dawn]#[.pad-xs Apple]
              .pad.bg-info.margin-xs #[.pad-xs Dawn]#[.pad-xs Apple]
              .pad.bg-info.margin-xs #[.pad-xs Apple]
          .pad-xs.margin-xs.border-1-info
            h4.margin-top-0 .flex-fill
            .flex-fill
              .pad.bg-info.margin-xs #[.pad-xs Acker]#[.pad-xs Dawn]#[.pad-xs Apple]
              .pad.bg-info.margin-xs #[.pad-xs Dawn]#[.pad-xs Apple]
              .pad.bg-info.margin-xs #[.pad-xs Apple]
          .pad-xs.margin-xs.border-1-info
            h4.margin-top-0 .flex-baseline
            .flex-baseline
              .pad.bg-info.margin-xs #[.pad-xs.underline Acker]#[.pad-xs Dawn]#[.pad-xs Apple]
              .pad.bg-info.margin-xs #[.pad-xs.underline Dawn]#[.pad-xs Apple]
              .pad.bg-info.margin-xs #[.pad-xs.underline Apple]

        .flex-wrap.flex-evenly
          .pad-xs.margin-xs.border-1-info
            h4.margin-top-0 .flex-stack
            .flex-stack
              .pad.bg-info.margin-xs Acker
              .pad.bg-info.margin-xs Dawn
              .pad.bg-info.margin-xs Apple
          .pad-xs.margin-xs.border-1-info
            h4.margin-top-0
              div .flex-stack
              div .flex-center
            .flex-stack.flex-center
              .pad.bg-info.margin-xs Acker Dawn Apple
              .pad.bg-info.margin-xs Dawn
              .pad.bg-info.margin-xs Apple
          .pad-xs.margin-xs.border-1-info
            h4.margin-top-0
              div .flex-stack
              div .flex-left
            .flex-stack.flex-left
              .pad.bg-info.margin-xs Acker Dawn Apple
              .pad.bg-info.margin-xs Dawn
              .pad.bg-info.margin-xs Apple
          .pad-xs.margin-xs.border-1-info
            h4.margin-top-0
              div .flex-stack
              div .flex-right
            .flex-stack.flex-right
              .pad.bg-info.margin-xs Acker Dawn Apple
              .pad.bg-info.margin-xs Dawn
              .pad.bg-info.margin-xs Apple
          //-.stack-reverse
          .pad-xs.margin-xs.border-1-info
            h4.margin-top-0 .flex-stack-reverse
            .flex-stack-reverse
              .pad.bg-info.margin-xs Acker
              .pad.bg-info.margin-xs Dawn
              .pad.bg-info.margin-xs Apple
          .pad-xs.margin-xs.border-1-info
            h4.margin-top-0
              div .flex-stack-reverse
              div .flex-center
            .flex-stack-reverse.flex-center
              .pad.bg-info.margin-xs Acker Dawn Apple
              .pad.bg-info.margin-xs Dawn
              .pad.bg-info.margin-xs Apple
          .pad-xs.margin-xs.border-1-info
            h4.margin-top-0
              div .flex-stack-reverse
              div .flex-left
            .flex-stack-reverse.flex-left
              .pad.bg-info.margin-xs Acker Dawn Apple
              .pad.bg-info.margin-xs Dawn
              .pad.bg-info.margin-xs Apple
          .pad-xs.margin-xs.border-1-info
            h4.margin-top-0
              div .flex-stack-reverse
              div .flex-right
            .flex-stack-reverse.flex-right
              .pad.bg-info.margin-xs Acker Dawn Apple
              .pad.bg-info.margin-xs Dawn
              .pad.bg-info.margin-xs Apple


        h3 Flex Inner Classes

        each size in [[1,'Flex Evenly'],[2,'Flex Double'],[3,'Flex Triple'],[4,'Flex Quad'],[5,'Flex Five'],[6,'Flex Six']]
          h4.margin-bottom-xxs #{size[1]} Examples
          p.pad-left.text-grey.text-sm .flex#{size[0]} is more forceful to achieve desired widths but quicker to create wrapping rows versus .flex-#{size[0]}
          .flex-wrap
            .border-1-warning(class="flex-"+size[0])
              .pad-xs.bg-info
                .text-xs .flex-#{size[0]}
                br
                br
            .flex-1.border-1-warning
              .pad-xs
                .text-xs .flex-1
          .flex-wrap
            .border-1-warning(class="flex"+size[0])
              .pad-xs.bg-info
                .text-xs .flex#{size[0]}
                br
                br
            .flex1.border-1-warning
              .pad-xs
                .text-xs .flex1
          .text-grey-2x.text-center.text-xs (two element example above)
          br
          .flex-wrap
            .border-1-warning(class="flex-"+size[0])
              .pad-xs.bg-grey-3x
                .text-xs .flex-#{size[0]}
            .flex-1.border-1-warning
              .pad-xs
                .text-xs .flex-1
            .flex-1.border-1-warning
              .pad-xs
                .text-xs .flex-1
          .flex-wrap
            .border-1-warning(class="flex"+size[0])
              .pad-xs.bg-grey-3x
                .text-xs .flex#{size[0]}
            .flex1.border-1-warning
              .pad-xs
                .text-xs .flex1
            .flex1.border-1-warning
              .pad-xs
                .text-xs .flex1
          .text-grey-2x.text-center.text-xs (three element example above)
          br
          .flex-wrap
            .border-1-warning(class="flex-"+size[0])
              .pad-xs.bg-info
                .text-xs .flex-#{size[0]}
            .flex-1.border-1-warning
              .pad-xs
                .text-xs .flex-1
            .flex-1.border-1-warning
              .pad-xs
                .text-xs .flex-1
            .flex-1.border-1-warning
              .pad-xs
                .text-xs .flex-1
          .flex-wrap
            .border-1-warning(class="flex"+size[0])
              .pad-xs.bg-info
                .text-xs .flex#{size[0]}
            .flex1.border-1-warning
              .pad-xs
                .text-xs .flex1
            .flex1.border-1-warning
              .pad-xs
                .text-xs .flex1
            .flex1.border-1-warning
              .pad-xs
                .text-xs .flex1
          .text-grey-2x.text-center.text-xs (four element example above)
          br
          .flex-wrap
            .border-1-warning(class="flex-"+size[0])
              .pad-xs.bg-grey-3x
                .text-xs .flex-#{size[0]}
            .flex-1.border-1-warning
              .pad-xs
                .text-xs .flex-1
            .flex-1.border-1-warning
              .pad-xs
                .text-xs .flex-1
            .flex-1.border-1-warning
              .pad-xs
                .text-xs .flex-1
            .flex-1.border-1-warning
              .pad-xs
                .text-xs .flex-1
          .flex-wrap
            .border-1-warning(class="flex"+size[0])
              .pad-xs.bg-grey-3x
                .text-xs .flex#{size[0]}
            .flex1.border-1-warning
              .pad-xs
                .text-xs .flex1
            .flex1.border-1-warning
              .pad-xs
                .text-xs .flex1
            .flex1.border-1-warning
              .pad-xs
                .text-xs .flex1
            .flex1.border-1-warning
              .pad-xs
                .text-xs .flex1
          .text-grey-2x.text-center.text-xs (five element example above)
          br
          .flex-wrap
            .border-1-warning(class="flex-"+size[0])
              .pad-xs.bg-info
                .text-xs .flex-#{size[0]}
            .flex-1.border-1-warning
              .pad-xs
                .text-xs .flex-1
            .flex-1.border-1-warning
              .pad-xs
                .text-xs .flex-1
            .flex-1.border-1-warning
              .pad-xs
                .text-xs .flex-1
            .flex-1.border-1-warning
              .pad-xs
                .text-xs .flex-1
            .flex-1.border-1-warning
              .pad-xs
                .text-xs .flex-1
          .flex-wrap
            .border-1-warning(class="flex"+size[0])
              .pad-xs.bg-info
                .text-xs .flex#{size[0]}
            .flex1.border-1-warning
              .pad-xs
                .text-xs .flex1
            .flex1.border-1-warning
              .pad-xs
                .text-xs .flex1
            .flex1.border-1-warning
              .pad-xs
                .text-xs .flex1
            .flex1.border-1-warning
              .pad-xs
                .text-xs .flex1
            .flex1.border-1-warning
              .pad-xs
                .text-xs .flex1
          .text-grey-2x.text-center.text-xs (six element example above)
          br
          .flex-wrap
            .border-1-warning(class="flex-"+size[0])
              .pad-xs.bg-grey-3x
                .text-xs .flex-#{size[0]}
            .flex-1.border-1-warning
              .pad-xs
                .text-xs .flex-1
            .flex-1.border-1-warning
              .pad-xs
                .text-xs .flex-1
            .flex-1.border-1-warning
              .pad-xs
                .text-xs .flex-1
            .flex-1.border-1-warning
              .pad-xs
                .text-xs .flex-1
            .flex-1.border-1-warning
              .pad-xs
                .text-xs .flex-1
            .flex-1.border-1-warning
              .pad-xs
                .text-xs .flex-1
          .flex-wrap
            .border-1-warning(class="flex"+size[0])
              .pad-xs.bg-grey-3x
                .text-xs .flex#{size[0]}
            .flex1.border-1-warning
              .pad-xs
                .text-xs .flex1
            .flex1.border-1-warning
              .pad-xs
                .text-xs .flex1
            .flex1.border-1-warning
              .pad-xs
                .text-xs .flex1
            .flex1.border-1-warning
              .pad-xs
                .text-xs .flex1
            .flex1.border-1-warning
              .pad-xs
                .text-xs .flex1
            .flex1.border-1-warning
              .pad-xs
                .text-xs .flex1
          .text-grey-2x.text-center.text-xs (seven element example above)


      h2(id="ack-text-boot") ack-text-boot
      .flex-wrap.child-pad-sm        
        .text-2x.border.border-grey-5x.flex-1.font-arial
          |.font-arial
        .text-2x.border.border-grey-5x.flex-1.font-times
          |.font-times
        .text-2x.border.border-grey-5x.flex-1.font-helvetica
          |.font-helvetica
        .text-2x.border.border-grey-5x.flex-1.font-fixed-width
          |.font-fixed-width or .font-courier
        .border.border-grey-5x.flex-1.text-9x .text-9x
        .border.border-grey-5x.flex-1.text-8x .text-8x
        .border.border-grey-5x.flex-1.text-7x .text-7x
        .border.border-grey-5x.flex-1.text-6x .text-6x
        .border.border-grey-5x.flex-1.text-5x .text-5x
        .border.border-grey-5x.flex-1.text-4x .text-4x
        .border.border-grey-5x.flex-1.text-3x .text-3x
        .border.border-grey-5x.flex-1.text-2x .text-2x
        .border.border-grey-5x.flex-1.text-sm .text-sm
        .border.border-grey-5x.flex-1.text-smx .text-smx
        .border.border-grey-5x.flex-1.text-xs .text-xs
        .border.border-grey-5x.flex-1.text-xxs .text-xxs
        .border.border-grey-5x.flex-1.text-underline .text-underline, .underline
        .border.border-grey-5x.flex-1.italic .italic, .text-italic
        .border.border-grey-5x.flex-1.strong .strong, .bold, .text-bold
        .border.border-grey-5x.flex-1.strike .strike, .line-through
        .border.border-grey-5x.flex-1.font-bolder .font-bolder
        .border.border-grey-5x.flex-1.font-normal .font-normal
        .border.border-grey-5x.flex-1.font-lighter .font-lighter
        .border.border-grey-5x.flex-1.font-100 .font-100
        .border.border-grey-5x.flex-1.font-200 .font-200
        .border.border-grey-5x.flex-1.font-300 .font-300
        .border.border-grey-5x.flex-1.font-400 .font-400
        .border.border-grey-5x.flex-1.font-500 .font-500
        .border.border-grey-5x.flex-1.font-600 .font-600
        .border.border-grey-5x.flex-1.font-700 .font-700
        .border.border-grey-5x.flex-1.font-800 .font-800
        .border.border-grey-5x.flex-1.font-900 .font-900
        .border.border-grey-5x.flex-1.line-height-0 .line-height-0
        .border.border-grey-5x.flex-1.line-height-quarter .line-height-quarter
        .border.border-grey-5x.flex-1.line-height-third .line-height-third
        .border.border-grey-5x.flex-1.line-height-half .line-height-half
        .border.border-grey-5x.flex-1.line-height-3-4 .line-height-3-4
        .border.border-grey-5x.flex-1.line-height-2x .line-height-2x
        .border.border-grey-5x.flex-1.line-height-3x .line-height-3x

      h4 hover-text classes
      .flex-wrap.child-margin-xxs.child-pad-xs
        .flex-1.hover-text-shadow-white-blur.bg-grey.text-white.text-center.border.border-grey-5x
          |.hover-text-shadow-white-blur
          .text-xs (hover with mouse)
        .flex-1.hover-text-shadow-grey-blur.text-center.border.border-grey-5x
          |.hover-text-shadow-grey-blur
          .text-grey.text-xs (hover with mouse)

        each x in colorArray
          .flex-1.text-center.border.border-grey-5x(class="hover-bg-"+x)
            |.hover-bg-#{x}
            .text-grey.text-xs (hover with mouse)

        each x in [100,90,80,70,60,50,40,30,20,10,0]
          .flex-1.text-center.border.border-grey-5x(class="hover-opacity-"+x)
            |.hover-opacity-#{x}
            .text-grey.text-xs (hover with mouse)

      .flex-wrap.child-margin-xxs.child-pad-xs
        .flex-1.border.border-grey-5x.hover-text-9x
          |.hover-text-9x
        .flex-1.border.border-grey-5x.hover-text-8x
          |.hover-text-8x
        .flex-1.border.border-grey-5x.hover-text-7x
          |.hover-text-7x
        .flex-1.border.border-grey-5x.hover-text-6x
          |.hover-text-6x
        .flex-1.border.border-grey-5x.hover-text-5x
          |.hover-text-5x
        .flex-1.border.border-grey-5x.hover-text-4x
          |.hover-text-4x
        .flex-1.border.border-grey-5x.hover-text-3x
          |.hover-text-3x
        .flex-1.border.border-grey-5x.hover-text-2x
          |.hover-text-2x
        .flex-1.border.border-grey-5x.hover-text-sm
          |.hover-text-sm
        .flex-1.border.border-grey-5x.hover-text-smx
          |.hover-text-smx
        .flex-1.border.border-grey-5x.hover-text-xs
          |.hover-text-xs
        .flex-1.border.border-grey-5x.hover-text-xxs
          |.hover-text-xxs

      h2(id="ack-block-boot") ack-block-boot

      .pad-h
        h4 opacity
      .flex-wrap
        .flex-1.text-white.pad.margin.bg-black.opacity-90 .opacity-90
        .flex-1.text-white.pad.margin.bg-black.opacity-80 .opacity-80
        .flex-1.text-white.pad.margin.bg-black.opacity-75 .opacity-75
        .flex-1.text-white.pad.margin.bg-black.opacity-70 .opacity-70
        .flex-1.text-white.pad.margin.bg-black.opacity-60 .opacity-60
        .flex-1.text-white.pad.margin.bg-black.opacity-50 .opacity-50, .opacity-half
        .flex-1.text-white.pad.margin.bg-black.opacity-40 .opacity-40
        .flex-1.text-white.pad.margin.bg-black.opacity-30 .opacity-30
        .flex-1.text-white.pad.margin.bg-black.opacity-25 .opacity-25, .opacity-third
        .flex-1.text-white.pad.margin.bg-black.opacity-20 .opacity-20
        .flex-1.text-white.pad.margin.bg-black.opacity-10 .opacity-10


      .pad-h
        h4 border
        .flex-wrap.align-top
          .bg-info.margin.pad.border
            |.border
          .bg-info.margin.pad.border-1
            |.border-1
          .bg-info.margin.pad.border-2
            |.border-2
          .bg-info.margin.pad.border-3.border-dashed
            |.border-3.border-dashed
          .bg-info.margin.pad.border-4.border-dotted
            |.border-4.border-dotted
          .bg-info.margin.pad.border-5
            |.border-5
          .bg-info.margin.pad.border.border-top-0
            |.border-top-0
          .bg-info.margin.pad.border.border-left-0
            |.border-left-0
          .bg-info.margin.pad.border.border-bottom-0
            |.border-bottom-0
          .bg-info.margin.pad.border.border-right-0
            |.border-right-0

          .bg-info.margin.pad.border-top
            |.border-top
          .bg-info.margin.pad.border-right
            |.border-right
          .bg-info.margin.pad.border-bottom
            |.border-bottom
          .bg-info.margin.pad.border-left
            |.border-left

          .bg-info.margin.pad.border-top-2
            |.border-top-2
          .bg-info.margin.pad.border-right-2
            |.border-right-2
          .bg-info.margin.pad.border-bottom-2
            |.border-bottom-2
          .bg-info.margin.pad.border-left-2
            |.border-left-2

          .bg-info.margin.pad.border-top-3
            |.border-top-3
          .bg-info.margin.pad.border-right-3
            |.border-right-3
          .bg-info.margin.pad.border-bottom-3
            |.border-bottom-3
          .bg-info.margin.pad.border-left-3
            |.border-left-3

          .bg-info.margin.pad.border-top-4
            |.border-top-4
          .bg-info.margin.pad.border-right-4
            |.border-right-4
          .bg-info.margin.pad.border-bottom-4
            |.border-bottom-4
          .bg-info.margin.pad.border-left-4
            |.border-left-4

          .bg-info.margin.pad.border-top-5
            |.border-top-5
          .bg-info.margin.pad.border-right-5
            |.border-right-5
          .bg-info.margin.pad.border-bottom-5
            |.border-bottom-5
          .bg-info.margin.pad.border-left-5
            |.border-left-5

          .bg-info.margin.pad.border-top-6
            |.border-top-6
          .bg-info.margin.pad.border-right-6
            |.border-right-6
          .bg-info.margin.pad.border-bottom-6
            |.border-bottom-6
          .bg-info.margin.pad.border-left-6
            |.border-left-6

          .bg-info.margin.pad.border-top-7
            |.border-top-7
          .bg-info.margin.pad.border-right-7
            |.border-right-7
          .bg-info.margin.pad.border-bottom-7
            |.border-bottom-7
          .bg-info.margin.pad.border-left-7
            |.border-left-7

          .bg-info.margin.pad.border-top-8
            |.border-top-8
          .bg-info.margin.pad.border-right-8
            |.border-right-8
          .bg-info.margin.pad.border-bottom-8
            |.border-bottom-8
          .bg-info.margin.pad.border-left-8
            |.border-left-8

          each item in ['','-left','-right','-top','-bottom']
            .border.border-grey.margin.pad.bg-info(class="radius"+item+"-0") .radius#{item}-0
            .border.border-grey.margin.pad.bg-info(class="radius"+item+"-3") .radius#{item}-3
            .border.border-grey.margin.pad.bg-info(class="radius"+item+"-4") .radius#{item}-4
            .border.border-grey.margin.pad.bg-info(class="radius"+item+"-5") .radius#{item}-5
            .border.border-grey.margin.pad.bg-info(class="radius"+item+"-6") .radius#{item}-6
            .border.border-grey.margin.pad.bg-info(class="radius"+item+"-7") .radius#{item}-7
            .border.border-grey.margin.pad.bg-info(class="radius"+item+"-8") .radius#{item}-8
            .border.border-grey.margin.pad.bg-info(class="radius"+item+"-9") .radius#{item}-9
            .border.border-grey.margin.pad.bg-info(class="radius"+item+"-10") .radius#{item}-10
            .border.border-grey.margin.pad.bg-info(class="radius"+item+"-15") .radius#{item}-15
            .border.border-grey.margin.pad.bg-info(class="radius"+item+"-20") .radius#{item}-20
            .border.border-grey.margin.pad.bg-info(class="radius"+item+"-25") .radius#{item}-25
            .border.border-grey.margin.pad.bg-info(class="radius"+item+"-half") .radius#{item}-half

          .margin
            .flex
              .border.border-grey.pad.bg-info.radius-10.radius-right-0 .radius-10.radius-right-0
              .border.border-grey.pad.bg-info.radius-10.radius-left-0 .radius-10.radius-left-0
          
          .margin
            .border.border-grey.pad.bg-info.radius-10.radius-bottom-0 .radius-10.radius-bottom-0
            .border.border-grey.pad.bg-info.radius-10.radius-top-0 .radius-10.radius-top-0

        
      .pad-h
        h4.margin-bottom-0 pad
        .pad-left.text-grey-2x.text-xs
          |Includes pad-left, pad-right, pad-h, and pad-v
        .inline-block.pad-xxs.border-1-info.valign
          |.pad-xxs
        .inline-block.pad-xs.border-1-info.valign
          |.pad-xs
        .inline-block.pad-sm.border-1-info.valign
          |.pad-sm
        .inline-block.pad.border-1-info.valign
          |.pad
        .inline-block.pad-2x.border-1-info.valign
          |.pad-2x
        .inline-block.pad-3x.border-1-info.valign
          |.pad-3x
        .inline-block.pad-4x.border-1-info.valign
          |.pad-4x
      .pad-h
        h4.margin-bottom-0 margin
        .pad-left.text-grey-2x.text-xs
          |Includes margin-left, margin-right, margin-h, and margin-v
        .inline-block.valign.border-1-energized
          .margin-0.border-1-info
            |.margin-0
        .inline-block.valign.border-1-energized
          .margin-1.border-1-info
            |.margin-1
        .inline-block.valign.border-1-energized
          .margin-xxs.border-1-info
            |.margin-xxs
        .inline-block.valign.border-1-energized
          .margin-xs.border-1-info
            |.margin-xs
        .inline-block.valign.border-1-energized
          .margin-sm.border-1-info
            |.margin-sm
        .inline-block.valign.border-1-energized
          .margin.border-1-info
            |.margin
        .inline-block.valign.border-1-energized
          .margin-2x.border-1-info
            |.margin-2x
        .inline-block.valign.border-1-energized
          .margin-3x.border-1-info
            |.margin-3x
        .inline-block.valign.border-1-energized
          .margin-4x.border-1-info
            |.margin-4x

      .pad-h
        h4.margin-bottom-0 child classes
        .pad-h.flex-wrap.child-pad-xs
          div
            |.child-margin
            .child-margin.border-1-energized
              .inline-block.valign.border-1-info
                |child
              .inline-block.valign.border-1-info
                |child
              .inline-block.valign.border-1-info
                |child
          div
            |.child-margin-left.child-first-margin-left-0
            div
              .inline-block.child-margin-left.child-first-margin-left-0.border-1-energized
                .inline-block.valign.border-1-info
                  |child
                .inline-block.valign.border-1-info
                  |child
                .inline-block.valign.border-1-info
                  |child
          div
            |.child-pad
            .child-pad.border-1-energized
              .inline-block.valign.border-1-info
                |child
              .inline-block.valign.border-1-info
                |child
              .inline-block.valign.border-1-info
                |child
          div
            |.child-pad-left.child-first-pad-left-0
            div
              .inline-block.child-pad-left.child-first-pad-left-0.border-1-energized
                .inline-block.valign.border-1-info
                  |child
                .inline-block.valign.border-1-info
                  |child
                .inline-block.valign.border-1-info
                  |child


      .pad-h
        h4 table
        .flex-wrap.align-top
          .pad-xs
            h5 .border-collapse
            table.table-pad.border-collapse
              thead
                tr
                  th.bg-info head1
                  th.bg-info head2
                  th.bg-info head3
              tbody
                tr
                  td.bg-info col1
                  td.bg-info col2
                  td.bg-info col3
                tr
                  td.bg-info col1
                  td.bg-info col2
                  td.bg-info col3
          .pad-xs
            h5 .table-lines
            table.table-pad.border-collapse.table-lines
              thead
                tr
                  th head1
                  th head2
                  th head3
              tbody
                tr
                  td col1
                  td col2
                  td col3
                tr
                  td col1
                  td col2
                  td col3
          .pad-xs
            h5 table-pad-xxs
            table.table-pad-xxs
              thead
                tr
                  th.bg-info head1
                  th.bg-info head2
                  th.bg-info head3
              tbody
                tr
                  td.bg-info col1
                  td.bg-info col2
                  td.bg-info col3
                tr
                  td.bg-info.pad-0 .pad-0
                  td.bg-info.pad-0 .pad-0
                  td.bg-info.pad-0 .pad-0
          .pad-xs
            h5 table-pad-xs
            table.table-pad-xs
              thead
                tr
                  th.bg-info head1
                  th.bg-info head2
                  th.bg-info head3
              tbody
                tr
                  td.bg-info col1
                  td.bg-info col2
                  td.bg-info col3
                tr
                  td.bg-info.pad-0 .pad-0
                  td.bg-info.pad-0 .pad-0
                  td.bg-info.pad-0 .pad-0
          .pad-xs
            h5 table-pad-sm
            table.table-pad-sm
              thead
                tr
                  th.bg-info head1
                  th.bg-info head2
                  th.bg-info head3
              tbody
                tr
                  td.bg-info col1
                  td.bg-info col2
                  td.bg-info col3
                tr
                  td.bg-info.pad-0 .pad-0
                  td.bg-info.pad-0 .pad-0
                  td.bg-info.pad-0 .pad-0
          .pad-xs
            h5 table-pad
            table.table-pad
              thead
                tr
                  th.bg-info head1
                  th.bg-info head2
                  th.bg-info head3
              tbody
                tr
                  td.bg-info col1
                  td.bg-info col2
                  td.bg-info col3
                tr
                  td.bg-info.pad-0 .pad-0
                  td.bg-info.pad-0 .pad-0
                  td.bg-info.pad-0 .pad-0
          .pad-xs
            h5 table-pad-md
            table.table-pad-md
              thead
                tr
                  th.bg-info head1
                  th.bg-info head2
                  th.bg-info head3
              tbody
                tr
                  td.bg-info col1
                  td.bg-info col2
                  td.bg-info col3
                tr
                  td.bg-info.pad-0 .pad-0
                  td.bg-info.pad-0 .pad-0
                  td.bg-info.pad-0 .pad-0
          .pad-xs
            h5 table-pad-lg
            table.table-pad-lg
              thead
                tr
                  th.bg-info head1
                  th.bg-info head2
                  th.bg-info head3
              tbody
                tr
                  td.bg-info col1
                  td.bg-info col2
                  td.bg-info col3
                tr
                  td.bg-info.pad-0 .pad-0
                  td.bg-info.pad-0 .pad-0
                  td.bg-info.pad-0 .pad-0

      h2(id="ack-color-boot") ack-color-boot
      .flex-wrap
        .flex-1.margin-xs.pad.bg-info.border-info.border-3
          |.bg-info.border-info
        .flex-1.margin-xs.pad.bg-danger.border-danger.border-3
          |.bg-danger.border-danger
        .flex-1.margin-xs.pad.bg-success.border-success.border-3
          |.bg-success.border-success
        .flex-1.margin-xs.pad.bg-primary.border-primary.border-3
          |.bg-primary.border-primary
        .flex-1.margin-xs.pad.bg-warning.border-warning.border-3
          |.bg-warning.border-warning
        .flex-1.margin-xs.pad.bg-grey.border-grey.border-3
          |.bg-grey.border-grey
        .flex-1.margin-xs.pad.bg-grey-2x.border-grey-2x.border-3
          |.bg-grey-2x.border-grey-2x
        .flex-1.margin-xs.pad.bg-grey-3x.border-grey-3x.border-3
          |.bg-grey-3x.border-grey-3x
        .flex-1.margin-xs.pad.bg-grey-4x.border-grey-4x.border-3
          |.bg-grey-4x.border-grey-4x
        .flex-1.margin-xs.pad.bg-grey-5x.border-grey-5x.border-3
          |.bg-grey-5x.border-grey-5x
        .flex-1.margin-xs.pad.bg-grey-6x.border-grey-6x.border-3
          |.bg-grey-6x.border-grey-6x
        .flex-1.margin-xs.pad.bg-assertive.border-assertive.border-3
          |.bg-assertive.border-assertive
        .flex-1.margin-xs.pad.bg-balanced.border-balanced.border-3
          |.bg-balanced.border-balanced
        .flex-1.margin-xs.pad.bg-royal.border-royal.border-3
          |.bg-royal.border-royal
        .flex-1.margin-xs.pad.bg-stable.border-stable.border-3
          |.bg-stable.border-stable
        .flex-1.margin-xs.pad.bg-positive.border-positive.border-3
          |.bg-positive.border-positive
        .flex-1.margin-xs.pad.bg-calm.border-calm.border-3
          |.bg-calm.border-calm
        .flex-1.margin-xs.pad.bg-energized.border-energized.border-3
          |.bg-energized.border-energized
        .flex-1.margin-xs.pad.bg-dark.border-dark.border-3
          |.bg-dark.border-dark


      .flex-wrap
        .flex-1.margin-xs.pad.text-positive
          |.text-positive
        .flex-1.margin-xs.pad.text-calm
          |.text-calm
        .flex-1.margin-xs.pad.text-balanced
          |.text-balanced
        .flex-1.margin-xs.pad.text-energized
          |.text-energized
        .flex-1.margin-xs.pad.text-assertive
          |.text-assertive
        .flex-1.margin-xs.pad.text-royal
          |.text-royal
        .flex-1.margin-xs.pad.text-dark
          |.text-dark
        .flex-1.margin-xs.pad.text-primary
          |.text-primary
        .flex-1.margin-xs.pad.text-success
          |.text-success
        .flex-1.margin-xs.pad.text-info
          |.text-info
        .flex-1.margin-xs.pad.text-warning
          |.text-warning
        .flex-1.margin-xs.pad.text-danger
          |.text-danger
        .flex-1.margin-xs.pad.text-grey-lg
          |.text-grey-lg
        .flex-1.margin-xs.pad.text-grey-md
          |.text-grey-md
        .flex-1.margin-xs.pad.text-grey
          |.text-grey
        .flex-1.margin-xs.pad.text-grey-sm
          |.text-grey-sm, .text-grey-2x
        .flex-1.margin-xs.pad.text-grey-xs
          |.text-grey-xs, .text-grey-3x
        .flex-1.margin-xs.pad.text-grey-4x
          |.text-grey-4x
        .flex-1.margin-xs.pad.text-grey-5x
          |.text-grey-5x
        .flex-1.margin-xs.pad.text-grey-6x
          |.text-grey-6x
        .flex-1.margin-xs.pad.text-green.font-green
          |.text-green,.font-green
        .flex-1.margin-xs.pad.text-orange.font-orange
          |.text-orange,.font-orange
        .flex-1.margin-xs.pad.text-red.font-red
          |.text-red,.font-red
        .flex-1.margin-xs.pad.text-blue.font-blue
          |.text-blue,.font-blue
        .flex-1.margin-xs.pad.text-purple.font-purple
          |.text-purple,.font-purple
        .flex-1.margin-xs.pad.text-black.font-black
          |.text-black,.font-black
        .flex-1.margin-xs.pad.text-white.font-white
          |.text-white,.font-white

      h4 border
      .flex-wrap.align-top
        .margin.pad.border-1-info
          |.border-1-info
        .margin.pad.border.border-success
          |.border.border-success
        .margin.pad.border-1-warning.border-dashed
          |.border-1-warning.border-dashed
        .margin.pad.border.border-dotted.border-danger
          |.border.border-dotted.border-danger
        .margin.pad.border-bottom-1.border-info
          |.border-bottom-1.border-info
        .margin.pad.border-bottom-1.border-primary.border-bottom-dotted
          |.border-bottom-1.border-primary.border-bottom-dotted
        .margin.pad.border-bottom-1.border-assertive.border-bottom-dashed
          |.border-bottom-1.border-assertive.border-bottom-dashed

      h4 table
      .flex-wrap.align-top
        .pad-xs
          h5.margin-bottom-xs
            br
            |.table-lines
          table.table-lines.table-pad-xs.border-collapse
            thead
              tr
                th head1
                th head2
                th head3
            tbody
              each x in [0,1,2,3]
                tr
                  td col1
                  td col2
                  td col3
        each x in colorArray
          .pad-xs
            h5.margin-bottom-xs
              div .table-lines
              div .table-lines-#{x}
            table.table-lines.table-pad-xs.border-collapse(class="table-lines-"+x)
              thead
                tr
                  th head1
                  th head2
                  th head3
              tbody
                each x in [0,1,2,3]
                  tr
                    td col1
                    td col2
                    td col3
        .pad-xs
          h5.margin-bottom-xs
            div .table-striped
            div .table-hover
          table.table-hover.table-striped.table-pad-xs
            thead
              tr
                th head1
                th head2
                th head3
            tbody
              each x in [0,1,2,3]
                tr
                  td col1
                  td col2
                  td col3
        each x in colorArray
          .pad-xs(class=x=='stable'?"bg-grey-3x":null)
            h5.margin-bottom-xs
              div .table-striped-#{x}
              div .table-hover-#{x}
            table.table-pad-xs(class="table-hover-"+x+" table-striped-"+x)
              thead
                tr
                  th head1
                  th head2
                  th head3
              tbody
                each x in [0,1,2,3]
                  tr
                    td col1
                    td col2
                    td col3
        .pad-xs
          h5.margin-bottom-xs MiXeD ExAmPlE 1
          table.table-hover-primary.table-striped.table-pad-xs.border-collapse
            thead
              tr
                th head1
                th head2
                th head3
            tbody
              each x in [0,1,2,3]
                tr
                  td col1
                  td col2
                  td col3
              tr.bg-info
                td col1
                td col2
                td col3
              tr.bg-energized
                td col1
                td col2
                td col3
        .pad-xs
          h5.margin-bottom-xs MiXeD ExAmPlE 2
          table.table-hover-primary.table-striped-warning.table-pad-xs.border-collapse
            thead
              tr
                th head1
                th head2
                th head3
            tbody
              each x in [0,1,2,3]
                tr
                  td col1
                  td col2
                  td col3
              tr.bg-info
                td col1
                td col2
                td col3
              tr.bg-energized
                td col1
                td col2
                td col3
        .pad-xs
          h5.margin-bottom-xs Table by Classes
          .table.table-hover-primary
            .thead
              .tr.child-pad-xs.child-margin-xxs
                .th.strong head1
                .th.strong head2
                .th.strong head3
            .tbody.child-striped-warning.child-hover-bg-primary
              each x in [0,1,2,3]
                .tr.child-pad-xs
                  .td col1
                  .td col2
                  .td col3
              .tr.bg-info.child-pad-xs.child-margin-xxs
                .td col1
                .td col2
                .td col3
              .tr.bg-energized.child-pad-xs.child-margin-xxs
                .td col1
                .td col2
                .td col3
      
      h4 child hover targeting
      p Mouse over a child box to see its assigned hover class

      h5.text-positive .child-hover-text-positive.child-hover-bg-positive
      .child-margin-xs.child-pad-xs.flex-evenly.child-hover-text-positive.child-hover-bg-positive
        .flex-1.border acb
        .flex-1.border 123
        .flex-1.border xyz

      h5.text-calm .child-hover-text-calm.child-hover-bg-calm
      .child-margin-xs.child-pad-xs.flex-evenly.child-hover-text-calm.child-hover-bg-calm
        .flex-1.border acb
        .flex-1.border 123
        .flex-1.border xyz

      h5.text-balanced .child-hover-text-balanced.child-hover-bg-balanced
      .child-margin-xs.child-pad-xs.flex-evenly.child-hover-text-balanced.child-hover-bg-balanced
        .flex-1.border acb
        .flex-1.border 123
        .flex-1.border xyz

      h5.text-energized .child-hover-text-energized.child-hover-bg-energized
      .child-margin-xs.child-pad-xs.flex-evenly.child-hover-text-energized.child-hover-bg-energized
        .flex-1.border acb
        .flex-1.border 123
        .flex-1.border xyz

      h5.text-assertive .child-hover-text-assertive.child-hover-bg-assertive
      .child-margin-xs.child-pad-xs.flex-evenly.child-hover-text-assertive.child-hover-bg-assertive
        .flex-1.border acb
        .flex-1.border 123
        .flex-1.border xyz

      h5.text-royal .child-hover-text-royal.child-hover-bg-royal
      .child-margin-xs.child-pad-xs.flex-evenly.child-hover-text-royal.child-hover-bg-royal
        .flex-1.border acb
        .flex-1.border 123
        .flex-1.border xyz

      h5.text-dark .child-hover-text-dark.child-hover-bg-dark
      .child-margin-xs.child-pad-xs.flex-evenly.child-hover-text-dark.child-hover-bg-dark
        .flex-1.border acb
        .flex-1.border 123
        .flex-1.border xyz

      h5.text-primary .child-hover-text-primary.child-hover-bg-primary
      .child-margin-xs.child-pad-xs.flex-evenly.child-hover-text-primary.child-hover-bg-primary
        .flex-1.border acb
        .flex-1.border 123
        .flex-1.border xyz

      h5.text-success .child-hover-text-success.child-hover-bg-success
      .child-margin-xs.child-pad-xs.flex-evenly.child-hover-text-success.child-hover-bg-success
        .flex-1.border acb
        .flex-1.border 123
        .flex-1.border xyz

      h5.text-info .child-hover-text-info.child-hover-bg-info
      .child-margin-xs.child-pad-xs.flex-evenly.child-hover-text-info.child-hover-bg-info
        .flex-1.border acb
        .flex-1.border 123
        .flex-1.border xyz

      h5.text-warning .child-hover-text-warning.child-hover-bg-warning
      .child-margin-xs.child-pad-xs.flex-evenly.child-hover-text-warning.child-hover-bg-warning
        .flex-1.border acb
        .flex-1.border 123
        .flex-1.border xyz

      h5.text-danger .child-hover-text-danger.child-hover-bg-danger
      .child-margin-xs.child-pad-xs.flex-evenly.child-hover-text-danger.child-hover-bg-danger
        .flex-1.border acb
        .flex-1.border 123
        .flex-1.border xyz

      h5.text-grey .child-hover-text-grey.child-hover-bg-grey
      .child-margin-xs.child-pad-xs.flex-evenly.child-hover-text-grey.child-hover-bg-grey
        .flex-1.border acb
        .flex-1.border 123
        .flex-1.border xyz

      h5.text-grey-2x .child-hover-text-grey-2x.child-hover-bg-grey-2x
      .child-margin-xs.child-pad-xs.flex-evenly.child-hover-text-grey-2x.child-hover-bg-grey-2x
        .flex-1.border acb
        .flex-1.border 123
        .flex-1.border xyz

      h5.text-grey-3x .child-hover-text-grey-3x.child-hover-bg-grey-3x
      .child-margin-xs.child-pad-xs.flex-evenly.child-hover-text-grey-3x.child-hover-bg-grey-3x
        .flex-1.border acb
        .flex-1.border 123
        .flex-1.border xyz

      h5.text-grey-4x .child-hover-text-grey-4x.child-hover-bg-grey-4x
      .child-margin-xs.child-pad-xs.flex-evenly.child-hover-text-grey-4x.child-hover-bg-grey-4x
        .flex-1.border acb
        .flex-1.border 123
        .flex-1.border xyz

      h5.text-grey-5x .child-hover-text-grey-5x.child-hover-bg-grey-5x
      .child-margin-xs.child-pad-xs.flex-evenly.child-hover-text-grey-5x.child-hover-bg-grey-5x
        .flex-1.border acb
        .flex-1.border 123
        .flex-1.border xyz

      h5.text-grey-6x .child-hover-text-grey-6x.child-hover-bg-grey-6x
      .child-margin-xs.child-pad-xs.flex-evenly.child-hover-text-grey-6x.child-hover-bg-grey-6x
        .flex-1.border acb
        .flex-1.border 123
        .flex-1.border xyz

      h5.text-green .child-hover-text-green.child-hover-bg-green
      .child-margin-xs.child-pad-xs.flex-evenly.child-hover-text-green.child-hover-bg-green
        .flex-1.border acb
        .flex-1.border 123
        .flex-1.border xyz

      h5.text-orange .child-hover-text-orange.child-hover-bg-orange
      .child-margin-xs.child-pad-xs.flex-evenly.child-hover-text-orange.child-hover-bg-orange
        .flex-1.border acb
        .flex-1.border 123
        .flex-1.border xyz

      h5.text-red .child-hover-text-red.child-hover-bg-red
      .child-margin-xs.child-pad-xs.flex-evenly.child-hover-text-red.child-hover-bg-red
        .flex-1.border acb
        .flex-1.border 123
        .flex-1.border xyz

      h5.text-blue .child-hover-text-blue.child-hover-bg-blue
      .child-margin-xs.child-pad-xs.flex-evenly.child-hover-text-blue.child-hover-bg-blue
        .flex-1.border acb
        .flex-1.border 123
        .flex-1.border xyz

      h5.text-purple .child-hover-text-purple.child-hover-bg-purple
      .child-margin-xs.child-pad-xs.flex-evenly.child-hover-text-purple.child-hover-bg-purple
        .flex-1.border acb
        .flex-1.border 123
        .flex-1.border xyz

      .bg-grey-2x
        h5.text-black .child-hover-text-black.child-hover-bg-black
        .child-margin-xs.child-pad-xs.flex-evenly.child-hover-text-black.child-hover-bg-black
          .flex-1.border.text-white acb
          .flex-1.border.text-white 123
          .flex-1.border.text-white xyz

      .bg-grey-2x
        h5.text-white .child-hover-text-white.child-hover-bg-white
        .child-margin-xs.child-pad-xs.flex-evenly.child-hover-text-white.child-hover-bg-white
          .flex-1.border acb
          .flex-1.border 123
          .flex-1.border xyz

    .text-left
      h2(id="ack-responsive-boot") ack-responsive-boot

      div(style="border-left:1px dotted black")
        h5 width guide
        .flex-valign-center(style="max-width:438px;")
          div
            .pad-xs xxs &gt; 0 &amp;&amp; &lt;= 438
          .flex-1.border-1-success
        .flex-valign-center(style="max-width:768px;")
          div
            .pad-xs xs &gt; 0 &amp;&amp; &lt;= 768
          .flex-1.border-1-success
        .flex-valign-center(style="max-width:768px;")
          .flex-6.flex-valign-center(style="max-width:575px;")
            .pad-xs smx &gt;= 576 &amp;&amp; &lt; 768
            .flex-1.border-1-warning
          .flex-1.border-1-success
        .flex-valign-center(style="max-width:992px;")
          .flex-6.flex-valign-center(style="max-width:768px;")
            .pad-xs sm &gt;= 768 &amp;&amp; &lt; 992
            .flex-1.border-1-warning
          .flex-1.border-1-success
        .flex-valign-center(style="max-width:1200px;")
          .flex-6.flex-valign-center(style="max-width:992px;")
            .pad-xs md &gt;= 992 &amp;&amp; &lt; 1200
            .flex-1.border-1-warning
          .flex-1.border-1-success
        .flex-valign-center
          .flex-valign-center(style="max-width:1200px;flex-grow:100;")
            .pad-xs lg &gt;= 1200
            .flex-1.border-1-warning
          .flex-1.border-1-success

      .flex-wrap
        .border.border-success.flex-1.margin.pad.margin.flex-valign
          .pos-rel
            .pos-abs.hide-xxs.pad.bg-success #[.pos-abs.pas-left-xxs visible]#[.invisible hidden]
            .pad.bg-dark hidden
          .pad .hide-xxs
        .border.border-success.flex-1.pad.margin.flex-valign
          .pos-rel
            .pos-abs.hide-xs.pad.bg-success #[.pos-abs.pas-left-xxs visible]#[.invisible hidden]
            .pad.bg-dark hidden
          .pad .hide-xs
        .border.border-success.flex-1.pad.margin.flex-valign
          .pos-rel
            .pos-abs.hide-smx.pad.bg-success #[.pos-abs.pas-left-xxs visible]#[.invisible hidden]
            .pad.bg-dark hidden
          .pad .hide-smx
        .border.border-success.flex-1.pad.margin.flex-valign
          .pos-rel
            .pos-abs.hide-sm.pad.bg-success #[.pos-abs.pas-left-xxs visible]#[.invisible hidden]
            .pad.bg-dark hidden
          .pad .hide-sm
        .border.border-success.flex-1.pad.margin.flex-valign
          .pos-rel
            .pos-abs.hide-md.pad.bg-success #[.pos-abs.pas-left-xxs visible]#[.invisible hidden]
            .pad.bg-dark hidden
          .pad .hide-md
        .border.border-success.flex-1.pad.margin.flex-valign
          .pos-rel
            .pos-abs.hide-lg.pad.bg-success #[.pos-abs.pas-left-xxs visible]#[.invisible hidden]
            .pad.bg-dark hidden
          .pad .hide-lg
        .border.border-success.flex-1.pad.margin.flex-valign
          .pos-rel
            .pos-abs.hide-print.pad.bg-success #[.pos-abs.pas-left-xxs visible]#[.invisible hidden]
            .pad.bg-dark hidden
          .pad .hide-print
        .border.border-success.flex-1.pad.margin.flex-valign
          .pos-rel
            .pos-abs.hide-gt-xxs.pad.bg-success #[.pos-abs.pas-left-xxs visible]#[.invisible hidden]
            .pad.bg-dark hidden
          .pad .hide-gt-xxs
        .border.border-success.flex-1.pad.margin.flex-valign
          .pos-rel
            .pos-abs.hide-gt-xs.pad.bg-success #[.pos-abs.pas-left-xxs visible]#[.invisible hidden]
            .pad.bg-dark hidden
          .pad .hide-gt-xs
        .border.border-success.flex-1.pad.margin.flex-valign
          .pos-rel
            .pos-abs.hide-gt-smx.pad.bg-success #[.pos-abs.pas-left-xxs visible]#[.invisible hidden]
            .pad.bg-dark hidden
          .pad .hide-gt-smx
        .border.border-success.flex-1.pad.margin.flex-valign
          .pos-rel
            .pos-abs.hide-gt-sm.pad.bg-success #[.pos-abs.pas-left-xxs visible]#[.invisible hidden]
            .pad.bg-dark hidden
          .pad .hide-gt-sm
        .border.border-success.flex-1.pad.margin.flex-valign
          .pos-rel
            .pos-abs.hide-gt-md.pad.bg-success #[.pos-abs.pas-left-xxs visible]#[.invisible hidden]
            .pad.bg-dark hidden
          .pad .hide-gt-md
        .border.border-success.flex-1.pad.margin.flex-valign
          .pos-rel
            .pos-abs.hide-lte-xxs.pad.bg-success #[.pos-abs.pas-left-xxs visible]#[.invisible hidden]
            .pad.bg-dark hidden
          .pad .hide-lte-xxs
        .border.border-success.flex-1.pad.margin.flex-valign
          .pos-rel
            .pos-abs.hide-lt-xxs.pad.bg-success #[.pos-abs.pas-left-xxs visible]#[.invisible hidden]
            .pad.bg-dark hidden
          .pad .hide-lt-xxs
        .border.border-success.flex-1.pad.margin.flex-valign
          .pos-rel
            .pos-abs.hide-lte-xs.pad.bg-success #[.pos-abs.pas-left-xxs visible]#[.invisible hidden]
            .pad.bg-dark hidden
          .pad .hide-lte-xs
        .border.border-success.flex-1.pad.margin.flex-valign
          .pos-rel
            .pos-abs.hide-lt-xs.pad.bg-success #[.pos-abs.pas-left-xxs visible]#[.invisible hidden]
            .pad.bg-dark hidden
          .pad .hide-lt-xs
        .border.border-success.flex-1.pad.margin.flex-valign
          .pos-rel
            .pos-abs.hide-lte-smx.pad.bg-success #[.pos-abs.pas-left-xxs visible]#[.invisible hidden]
            .pad.bg-dark hidden
          .pad .hide-lte-smx
        .border.border-success.flex-1.pad.margin.flex-valign
          .pos-rel
            .pos-abs.hide-lt-smx.pad.bg-success #[.pos-abs.pas-left-xxs visible]#[.invisible hidden]
            .pad.bg-dark hidden
          .pad .hide-lt-smx
        .border.border-success.flex-1.pad.margin.flex-valign
          .pos-rel
            .pos-abs.hide-lte-sm.pad.bg-success #[.pos-abs.pas-left-xxs visible]#[.invisible hidden]
            .pad.bg-dark hidden
          .pad .hide-lte-sm
        .border.border-success.flex-1.pad.margin.flex-valign
          .pos-rel
            .pos-abs.hide-lt-sm.pad.bg-success #[.pos-abs.pas-left-xxs visible]#[.invisible hidden]
            .pad.bg-dark hidden
          .pad .hide-lt-sm
        .border.border-success.flex-1.pad.margin.flex-valign
          .pos-rel
            .pos-abs.hide-lte-md.pad.bg-success #[.pos-abs.pas-left-xxs visible]#[.invisible hidden]
            .pad.bg-dark hidden
          .pad .hide-lte-md
        .border.border-success.flex-1.pad.margin.flex-valign
          .pos-rel
            .pos-abs.hide-lt-md.pad.bg-success #[.pos-abs.pas-left-xxs visible]#[.invisible hidden]
            .pad.bg-dark hidden
          .pad .hide-lt-md

    .text-left
      h2(id="ack-form-boot") ack-form-boot

      .flex-wrap.child-pad
        .form-group.has-error
          label.block .form-group.has-error
          div
            input(type="text" value="invalid value")

        .form-group.has-error
          div
            label.form-group-label .form-group.has-error.form-group-label
          div
            input(type="text" value="invalid value")

        .form-group.has-error
          label Some Invalid Radios
          div
            label
              input(type="radio")
              |test0
            |&nbsp;
            label
              input(type="radio")
              |test1
            |&nbsp;
            label
              input(type="radio")
              |test2

    .text-left
      h2.margin-bottom-0(id="Additional Classes") Additional Classes
      p.text-grey-2x.text-sm
        |List of classes, not always an example of class

      .flex.child-margin-xs.child-pad-xs
        .border.border-grey-3x .overflow
        .border.border-grey-3x .overflow-hidden
        .border.border-grey-3x .overflow-x
        .border.border-grey-3x .overflow-y
        .border.border-grey-3x .overflow-x-hidden
        .border.border-grey-3x .overflow-y-hidden

      .flex
        .flex-1
          h3 .no-scroll-bars
          .pad.font-fixed-width
            .p.text-grey-2x.text-xs The bottom overflowing content, has no scroll bars
            .width-100.height-100.overflow.no-scroll-bars
              | |*|*|*|*|*|*|*|*|*|*|*=========================
              | |*|*|*|*|*|*|*|*|*|*|*=========================
              | |*|*|*|*|*|*|*|*|*|*|*=========================
              | |*|*|*|*|*|*|*|*|*|*|*=========================
              | |*|*|*|*|*|*|*|*|*|*|*=========================
              | |*|*|*|*|*|*|*|*|*|*|*=========================
              | |*|*|*|*|*|*|*|*|*|*|*=========================
              | ===============================================
              | ===============================================
              | ===============================================
              | ===============================================
              | ===============================================
              | ===============================================
              | ===============================================
            .p.text-grey-2x.text-xs A class .no-scroll-bars-ever exists to force all children overflows to have no scroll bars

        .flex-1
          h3 .code-sample
          pre.code-sample
            |&lt;pre class="code-sample"&gt;
            |  Here is some of my sample code that won't wrap it's lines.
            |  &lt;br /&gt;
            |  Unless a line-break appears as part of the code.
            |&lt;/pre&gt;